body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
  margin:0%;
  padding:0%;
}

body {
  background-color: #f7f7f7;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
/* .chart{
  background-color: #f7f7f7;
  margin-left: 0 !important;
  justify-content: left !important;
  min-height: 0vh;
  font-family: 'Lato', sans-serif;
} */

.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chart-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.charts{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  margin: 30px auto;
  max-width:auto;
}
.main_div{
  margin:20px;
}
.d-grid{
  max-width:120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  perspective: 1px;
}
button{
 background-color:#03A9F4;
 border:none;
 color:white;
 padding:8px;
}
select{
  border-radius: 10px;
  padding:3px;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  /* border-bottom: 1px solid #bbb; */
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
}
.inc-exp-container{
  background-image: linear-gradient(135deg, #01579B,#03A9F4, #29B6F6,#29B6F6,
  #81D4FA);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width:450px;
  margin: 20px;
  padding: 20px;
  color: #fff;
  margin-left: 0px;
}
.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
#money-plus{
  color: #178A38;
}
#money-minus{
  color: #c0392b;
}
form{
  margin: auto;
  max-width: 650px;
}
.form-control{
  /* margin:20px; */
  background-color:whitesmoke;
  width: 90%;
}
.section{
  flex-direction: column;
  justify-content: space-around;
}
.section,.section1, .section2{
  display: flex;
  justify-content: space-around;
}

label {
  display: inline-block;
  margin: 10px 0;
}
div.error{
  padding: 10px;
  background: #ffefef;
  border:1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin:20px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
}


.btn {
  background-color: yellowgreen ;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  max-width:600px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color:#ffefef;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
.chart-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 799px) {
 *{
  margin:0%;
 }
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home,.main_div{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .charts{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .category-wise,.chart-container,.records{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section,.section1,.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .list{
    width:auto;
  }
  .chart-container{
    max-height: 100%;
  }
  
}
